Repository Nine-Byte-Warriors/midnight-harvest, pull requests merged in 2023-02, with the labels that each got.

#46 UI - Screens
  Roche-Engine/Events/Event.h
  Roche-Engine/Resources/Levels.json
  Roche-Engine/Resources/Textures/UI/Board/Board.png
  Roche-Engine/Resources/Textures/UI/Button/ButtonActive.png
  Roche-Engine/Resources/Textures/UI/Button/ButtonIdle.png
  Roche-Engine/Resources/Textures/UI/Coin/Coin.png
  Roche-Engine/Resources/Textures/UI/Tabs/Control/ControlTabActive.png
  Roche-Engine/Resources/Textures/UI/Tabs/Control/ControlTabIdle.png
  Roche-Engine/Resources/Textures/UI/Tabs/Gear/GearTabActive.png
  Roche-Engine/Resources/Textures/UI/Tabs/Gear/GearTabIdle.png
  Roche-Engine/Resources/Textures/UI/Tabs/Graphics/GraphicsTabActive.png
  Roche-Engine/Resources/Textures/UI/Tabs/Graphics/GraphicsTabIdle.png
  Roche-Engine/Resources/Textures/UI/Tabs/Music/MusicTabActive.png
  Roche-Engine/Resources/Textures/UI/Tabs/Music/MusicTabIdle.png
  Roche-Engine/Resources/UI/Credits.json
  Roche-Engine/Resources/UI/Game.json
  Roche-Engine/Resources/UI/Menu.json
  Roche-Engine/Resources/UI/Screens/Credits_Widgets.json
  Roche-Engine/Resources/UI/Screens/HUD_Night.json
  Roche-Engine/Resources/UI/Screens/HUD_Widgets.json
  Roche-Engine/Resources/UI/Screens/Menu_Widgets.json
  Roche-Engine/Resources/UI/Screens/Pause_Widgets.json
  Roche-Engine/Resources/UI/Screens/Settings_Widgets.json
  Roche-Engine/UI/UIEditor.h
  Roche-Engine/UI/UIScreen.cpp
  Roche-Engine/UI/UIScreen.h
  Roche-Engine/UI/Widgets/Button_Widget.cpp
  Roche-Engine/UI/Widgets/DropDown_Widget.cpp
  Roche-Engine/UI/Widgets/DropDown_Widget.h
  Roche-Engine/UI/Widgets/Image_Widget.cpp
  Roche-Engine/UI/Widgets/Image_Widget.h
Labels: ui

#48 Custom font with different sizes
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/Resources/Fonts/Hanoded Fonts License & FAQ - DO READ THIS!.pdf
  Roche-Engine/Resources/Fonts/midnight_chalker_16.spritefont
  Roche-Engine/Resources/Fonts/midnight_chalker_20.spritefont
  Roche-Engine/Resources/Fonts/midnight_chalker_24.spritefont
  Roche-Engine/Resources/Fonts/midnight_chalker_36.spritefont
  Roche-Engine/Resources/Fonts/midnight_chalker_72.spritefont
  Roche-Engine/Roche-Engine.vcxproj
  Roche-Engine/UI/Widgets/Button_Widget.cpp
  Roche-Engine/UI/Widgets/DropDown_Widget.cpp
  Roche-Engine/UI/Widgets/Image_Widget.cpp
  Roche-Engine/UI/Widgets/Input_Widget.cpp
  Roche-Engine/Utility/Helper/TextRenderer.cpp
  Roche-Engine/Utility/Helper/TextRenderer.h
Labels: enhancement, ui, assets

#50 Merge changes in from master
  Roche-Engine/Objects/Camera.cpp
  Roche-Engine/Resources/Levels.json
Labels: enhancement

#62 Tilemap creation
  Roche-Engine/Application.cpp
  Roche-Engine/Resources/Entity/Entity.json
  Roche-Engine/Resources/Levels.json
  Roche-Engine/Resources/Textures/Tiles/Concrete-1.png
  Roche-Engine/Resources/Textures/Tiles/Concrete-1smol.png
  Roche-Engine/Resources/Textures/Tiles/Concrete-2.png
  Roche-Engine/Resources/Textures/Tiles/Concrete-3.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-1.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-10.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-11.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-12.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-13.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-14.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-15.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-16.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-17.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-18.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-19.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-2.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-20.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-21.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-22.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-23.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-24.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-25.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-3.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-4.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-5.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-6.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-7.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-8.png
  Roche-Engine/Resources/Textures/Tiles/WoodWall-9.png
  Roche-Engine/Resources/Textures/UI/Button/ButtonActive-old.png
  Roche-Engine/Resources/Textures/UI/Button/ButtonActive.png
  Roche-Engine/Resources/Textures/UI/Button/ButtonIdle-old.png
  Roche-Engine/Resources/Textures/UI/Button/ButtonIdle.png
  Roche-Engine/Resources/TileMaps/.json
  Roche-Engine/Resources/TileMaps/BaseGameMap-background.json
  Roche-Engine/Resources/TileMaps/BaseGameMap-foreground.json
  Roche-Engine/Resources/TileMaps/Shop-background.json
  Roche-Engine/Resources/TileMaps/Shop-foreground.json
  Roche-Engine/Resources/TileMaps/TileMap.json
  Roche-Engine/TileMap/TileMap.cpp
  Roche-Engine/TileMap/TileMap.h
  Roche-Engine/TileMap/TileMapEditor.cpp
Labels: assets, level, tile maps

#74 Level UI flow
  Roche-Engine/Application.cpp
  Roche-Engine/Events/Event.h
  Roche-Engine/GameManager.cpp
  Roche-Engine/Levels/LevelStateMachine.cpp
  Roche-Engine/UI/UIManager.cpp
  Roche-Engine/UI/UIManager.h
  Roche-Engine/UI/UIScreen.cpp
  Roche-Engine/imgui.ini
Labels: ui, level

#77 Added anchoring of camera to edges of map
  Roche-Engine/Objects/Camera.cpp
Labels: enhancement, system

#71 Emitter via AI Fire State
  Roche-Engine/AI/AIFire.cpp
  Roche-Engine/AI/AIFire.h
  Roche-Engine/AI/AIState.h
  Roche-Engine/AI/AIStateMachine.cpp
  Roche-Engine/AI/AIStateMachine.h
  Roche-Engine/Components/Agent.cpp
  Roche-Engine/Components/Agent.h
  Roche-Engine/Components/BaseController.h
  Roche-Engine/Components/EnemyController.cpp
  Roche-Engine/Components/EnemyController.h
  Roche-Engine/Components/Entity.cpp
  Roche-Engine/Components/Entity.h
  Roche-Engine/Components/EntityEditor.cpp
  Roche-Engine/Components/PlayerController.cpp
  Roche-Engine/Components/PlayerController.h
  Roche-Engine/Components/PlayerShooting.cpp
  Roche-Engine/Components/PlayerShooting.h
  Roche-Engine/Components/ProjectileEditor.cpp
  Roche-Engine/Components/ProjectileEditor.h
  Roche-Engine/Components/ProjectileManager.cpp
  Roche-Engine/Components/ProjectileManager.h
  Roche-Engine/Events/Event.h
  Roche-Engine/Objects/Camera.cpp
  Roche-Engine/Objects/Camera.h
  Roche-Engine/Objects/Projectile.cpp
  Roche-Engine/Objects/Projectile.h
  Roche-Engine/Resources/Entity/Entity.json
  Roche-Engine/Resources/Patterns/SlowWiggle.ptn
  Roche-Engine/Roche-Engine.vcxproj
  Roche-Engine/Roche-Engine.vcxproj.filters
  Roche-Engine/TileMap/TileMapPaintOnMap.cpp
Labels: projectile, entity, system

#83 No longer crashes when selecting a bullet
  Roche-Engine/Components/Entity.cpp
  Roche-Engine/Components/Entity.h
  Roche-Engine/Components/Sprite.h
Labels: bug, entity

#89 UI - added leaderboard and enemy health bar
  Roche-Engine/Events/Event.h
  Roche-Engine/Resources/UI/Menu.json
  Roche-Engine/Resources/UI/Screens/HUD_Night.json
  Roche-Engine/Resources/UI/Screens/Leaderboard_Widgets.json
  Roche-Engine/Resources/UI/Screens/Menu_Widgets.json
  Roche-Engine/Resources/UI/Screens/Settings_Widgets.json
  Roche-Engine/UI/UIScreen.cpp
Labels: ui, assets

#90 UI - Adding a loading screen
  Roche-Engine/Resources/Levels.json
  Roche-Engine/Resources/TileMaps/Loading-background.json
  Roche-Engine/Resources/UI/Loading.json
  Roche-Engine/Resources/UI/Screens/Loading_Widgets.json
  Roche-Engine/UI/UIScreen.cpp
Labels: ui, assets, level

#92 ScoreBoard added
  Roche-Engine/Events/Event.h
  Roche-Engine/Objects/ScoreBoard.cpp
  Roche-Engine/Objects/ScoreBoard.h
  Roche-Engine/Resources/ScoreBoard/ScoreBoard.json
  Roche-Engine/Resources/UI/Credits.json
  Roche-Engine/Roche-Engine.vcxproj
  Roche-Engine/Roche-Engine.vcxproj.filters
  Roche-Engine/UI/UIScreen.cpp
  Roche-Engine/UI/UIScreen.h
Labels: ui, system

#94 UI settings logic and rebind system
  Roche-Engine/Events/Event.h
  Roche-Engine/Graphics/Graphics.cpp
  Roche-Engine/Input/Input.cpp
  Roche-Engine/Input/Input.h
  Roche-Engine/Resources/UI/Screens/Settings_Widgets.json
  Roche-Engine/UI/UIScreen.cpp
  Roche-Engine/UI/UIScreen.h
  Roche-Engine/UI/Widgets/DataSlider_Widget.cpp
  Roche-Engine/UI/Widgets/DataSlider_Widget.h
  Roche-Engine/UI/Widgets/Input_Widget.cpp
  Roche-Engine/UI/Widgets/Input_Widget.h
Labels: ui, system

#95 Enemies now spawn one after the other
  Roche-Engine/Components/EntityController.cpp
  Roche-Engine/Components/EntityController.h
  Roche-Engine/Components/EntitySpawner.cpp
  Roche-Engine/Components/EntitySpawner.h
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/TileMap/TileMapPaintOnMap.cpp
Labels: enhancement, entity

#96 Level UI flow
  Roche-Engine/Application.cpp
  Roche-Engine/Application.h
  Roche-Engine/Audio/AudioEngine.cpp
  Roche-Engine/Events/Event.h
  Roche-Engine/Input/Input.cpp
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/Levels/Level.h
  Roche-Engine/Resources/UI/Screens/Game_Over_Widgets.json
  Roche-Engine/Resources/UI/Screens/Game_Won_Widgets.json
  Roche-Engine/Resources/UI/Screens/Pause_Widgets.json
  Roche-Engine/Roche-Engine Release.exe
  Roche-Engine/UI/UIManager.cpp
  Roche-Engine/UI/UIManager.h
  Roche-Engine/UI/UIScreen.cpp
  Roche-Engine/Window/WindowContainer.cpp
Labels: system, level

#98 Updated animation timings and states
  Roche-Engine/Components/PlayerMovement.cpp
  Roche-Engine/Components/PlayerMovement.h
  Roche-Engine/Components/Sprite.cpp
  Roche-Engine/Components/Sprite.h
  Roche-Engine/Resources/Textures/Entity/Carrot/Carrot.json
  Roche-Engine/Resources/Textures/Entity/Cauliflower/Cauliflower.json
  Roche-Engine/Resources/Textures/Entity/Onion/Onion.json
  Roche-Engine/Resources/Textures/Entity/PlayerWalk/PlayerWalk.json
  Roche-Engine/Resources/Textures/Entity/Potato/Potato.json
  Roche-Engine/Resources/Textures/Entity/Runner Bean/Runner Bean.json
  Roche-Engine/Resources/Textures/Entity/Tomato/Tomato.json
  Roche-Engine/Roche-Engine Release.exe
Labels: enhancement, entity

#100 Enemy total health is now displayed
  Roche-Engine/Events/Event.h
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/Levels/Level.h
  Roche-Engine/Resources/UI/Screens/HUD_Night.json
  Roche-Engine/UI/UIScreen.cpp
  Roche-Engine/UI/UIScreen.h
Labels: ui, entity

#103 Load/Unload of sound bank lists
  Roche-Engine/Application.cpp
  Roche-Engine/Roche-Engine Release.exe
  Roche-Engine/UI/UIManager.cpp
  Roche-Engine/UI/UIManager.h
Labels: audio, level

#107 Merge collision fixes from engine
  Roche-Engine/Components/Collider.cpp
  Roche-Engine/Components/Collider.h
  Roche-Engine/Components/Entity.cpp
  Roche-Engine/Components/Entity.h
  Roche-Engine/Resources/Entity/Entity.json
  Roche-Engine/Roche-Engine Release.exe
Labels: bug, enhancement, collisions

#111 Feat/night time
  Roche-Engine/Components/EntityController.cpp
  Roche-Engine/Components/EntityController.h
  Roche-Engine/Components/EntitySpawner.cpp
  Roche-Engine/Components/EntitySpawner.h
  Roche-Engine/Levels/GameManager.cpp
  Roche-Engine/Levels/GameManager.h
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/Levels/Level.h
Labels: system, level

#115 Pause key UI Main Menu Closing Bug Fix
  Roche-Engine/UI/UIManager.cpp
Labels: bug, ui

#118 UI screen flow mini fix
  Roche-Engine/UI/UIManager.cpp
Labels: bug, ui, level

#123 Level design - fixed buying items + global health + new title
  Roche-Engine/Components/Entity.cpp
  Roche-Engine/Components/EntityController.h
  Roche-Engine/Components/Health.cpp
  Roche-Engine/Events/Event.h
  Roche-Engine/Graphics/Graphics.cpp
  Roche-Engine/Input/Input.cpp
  Roche-Engine/Levels/GameManager.cpp
  Roche-Engine/Levels/GameManager.h
  Roche-Engine/Objects/ShopItem.cpp
  Roche-Engine/Objects/ShopItem.h
  Roche-Engine/Resources/Entity/Entity_Game.json
  Roche-Engine/Resources/Textures/UI/Backdrop/Main menu backdrop.png
  Roche-Engine/Resources/Textures/UI/Title/Title.png
  Roche-Engine/Resources/UI/Screens/Menu_Widgets.json
  Roche-Engine/UI/UIManager.cpp
  Roche-Engine/UI/UIScreen.cpp
Labels: input, enhancement, ui, collisions

#126 Bug/enemies spawning
  Roche-Engine/Components/Entity.cpp
  Roche-Engine/Components/EntityController.h
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/UI/UIScreen.cpp
  Roche-Engine/UI/UIScreen.h
Labels: bug, entity

#129 Collision reset on swap levels
  Roche-Engine/Collisions/CollisionHandler.cpp
  Roche-Engine/Collisions/CollisionHandler.h
  Roche-Engine/Events/Event.h
  Roche-Engine/UI/UIManager.cpp
Labels: bug, collisions, level

#130 Game ends after 5th day
  Roche-Engine/Levels/GameManager.cpp
Labels: enhancement, system, level

#131 Entity clean-up added and fixed shooting during the day
  Roche-Engine/Components/PlayerShooting.cpp
  Roche-Engine/Components/PlayerShooting.h
  Roche-Engine/Events/Event.h
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/Levels/Level.h
  Roche-Engine/Roche-Engine Release.exe
Labels: bug, enhancement, entity

#132 Added Boss to the Game
  Roche-Engine/Events/Event.h
  Roche-Engine/Levels/GameManager.cpp
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/Levels/Level.h
  Roche-Engine/Resources/Entity/Entity_Game.json
  Roche-Engine/Resources/Textures/Entity/Corn/Corn Boss-20230126-012119.piskel
  Roche-Engine/Resources/Textures/Entity/Corn/Corn Boss.gif
  Roche-Engine/Resources/Textures/Entity/Corn/Corn Boss.png
  Roche-Engine/Resources/Textures/Entity/Corn/Corn.json
Labels: enhancement, entity, system, assets, level

#135 Shop pause screen fix
  Roche-Engine/Roche-Engine Release.exe
  Roche-Engine/UI/UIManager.cpp
Labels: bug, ui

#136 Can now carry seeds to/ from the shop
  Roche-Engine/Components/Inventory.cpp
  Roche-Engine/Components/Inventory.h
  Roche-Engine/Events/Event.h
  Roche-Engine/Levels/GameManager.cpp
  Roche-Engine/Levels/GameManager.h
  Roche-Engine/Levels/Level.cpp
Labels: enhancement, system

#127 Custom cursors added
  Roche-Engine/Components/Entity.h
  Roche-Engine/Events/Event.h
  Roche-Engine/Graphics/Graphics.cpp
  Roche-Engine/Resources/Cursors/Colour/Blue.cur
  Roche-Engine/Resources/Cursors/Colour/Gray.cur
  Roche-Engine/Resources/Cursors/Colour/Green.cur
  Roche-Engine/Resources/Cursors/Colour/Orange.cur
  Roche-Engine/Resources/Cursors/Colour/Pink.cur
  Roche-Engine/Resources/Cursors/Colour/Purple.cur
  Roche-Engine/Resources/Cursors/Colour/Red.cur
  Roche-Engine/Resources/Cursors/Colour/Yellow.cur
  Roche-Engine/Resources/Cursors/Sketch/AlternateSelect.cur
  Roche-Engine/Resources/Cursors/Sketch/DiagonalResize1.cur
  Roche-Engine/Resources/Cursors/Sketch/DiagonalResize2.cur
  Roche-Engine/Resources/Cursors/Sketch/Handwriting.cur
  Roche-Engine/Resources/Cursors/Sketch/HelpSelect.cur
  Roche-Engine/Resources/Cursors/Sketch/HorizontalResize.cur
  Roche-Engine/Resources/Cursors/Sketch/LinkSelect.cur
  Roche-Engine/Resources/Cursors/Sketch/Move.cur
  Roche-Engine/Resources/Cursors/Sketch/NormalSelect.cur
  Roche-Engine/Resources/Cursors/Sketch/Old/LinkSelect.cur
  Roche-Engine/Resources/Cursors/Sketch/Old/LinkSelect_Old2.cur
  Roche-Engine/Resources/Cursors/Sketch/Old/Move_Old.cur
  Roche-Engine/Resources/Cursors/Sketch/Old/NormalSelect_Old.cur
  Roche-Engine/Resources/Cursors/Sketch/Old/TextSelect_Old.cur
  Roche-Engine/Resources/Cursors/Sketch/PrecisionSelect.cur
  Roche-Engine/Resources/Cursors/Sketch/TextSelect.cur
  Roche-Engine/Resources/Cursors/Sketch/Unavailable.cur
  Roche-Engine/Resources/Cursors/Sketch/VerticalResize.cur
  Roche-Engine/Resources/Cursors/Sketch/WorkingInBackground.cur
  Roche-Engine/Resources/Tutorial01.rc
  Roche-Engine/UI/UIScreen.cpp
  Roche-Engine/UI/Widgets/Button_Widget.cpp
  Roche-Engine/UI/Widgets/Button_Widget.h
  Roche-Engine/UI/Widgets/DataSlider_Widget.cpp
  Roche-Engine/UI/Widgets/Input_Widget.cpp
  Roche-Engine/UI/Widgets/MouseData.h
  Roche-Engine/UI/Widgets/PageSlider_Widget.cpp
  Roche-Engine/Window/RenderWindow.cpp
  Roche-Engine/Window/RenderWindow.h
  Roche-Engine/Window/WindowContainer.cpp
  Roche-Engine/Window/WindowContainer.h
Labels: enhancement, ui, assets

#137 Fix shop after first night
  Roche-Engine/Levels/Level.cpp
Labels: bug, collisions, level

#142 Level design - general fixes
  Roche-Engine/Components/Entity.cpp
  Roche-Engine/Components/Health.cpp
  Roche-Engine/Components/Health.h
  Roche-Engine/Components/Inventory.cpp
  Roche-Engine/Components/Inventory.h
  Roche-Engine/Input/Input.cpp
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/Objects/ScoreBoard.cpp
  Roche-Engine/Resources/Entity/Entity_Game.json
  Roche-Engine/Resources/Entity/Entity_Shop.json
  Roche-Engine/Resources/Textures/Enviornment/House-1.png
  Roche-Engine/Resources/Textures/Enviornment/Sign-0.png
  Roche-Engine/Resources/Textures/Enviornment/Sign-1.png
  Roche-Engine/Resources/Textures/Enviornment/Sign-2.png
  Roche-Engine/Resources/Textures/Enviornment/Sign-3.png
  Roche-Engine/Resources/Textures/Enviornment/Sign-4.png
  Roche-Engine/Resources/Textures/Enviornment/Sign-5.png
  Roche-Engine/Resources/TileMaps/BaseGameMap-background.json
  Roche-Engine/Resources/TileMaps/BaseGameMap-foreground.json
  Roche-Engine/UI/UIManager.cpp
  Roche-Engine/UI/UIManager.h
  Roche-Engine/UI/UIScreen.cpp
  Roche-Engine/UI/UIScreen.h
Labels: input, enhancement, entity, assets, level

#144 Fixed boss final night
  Roche-Engine/Levels/GameManager.cpp
Labels: bug, enhancement, entity, collisions

#148 Boss spawn fix
  Roche-Engine/Components/Entity.cpp
  Roche-Engine/Components/Entity.h
  Roche-Engine/Components/EntityController.cpp
  Roche-Engine/Components/Health.cpp
  Roche-Engine/Components/Health.h
  Roche-Engine/Events/Event.h
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/Levels/Level.h
  Roche-Engine/Resources/Entity/Entity_Game.json
Labels: enhancement, entity

#150 Fixed issues with boss spawning and dying.
  Roche-Engine/Components/Health.cpp
  Roche-Engine/Levels/GameManager.cpp
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/Objects/ScoreBoard.cpp
Labels: enhancement, entity

#151 Coin On Swap Level Fix
  Roche-Engine/Components/Health.cpp
  Roche-Engine/Components/Inventory.cpp
  Roche-Engine/Events/Event.h
  Roche-Engine/Levels/GameManager.cpp
  Roche-Engine/Levels/GameManager.h
  Roche-Engine/Roche-Engine Release.exe
  Roche-Engine/UI/UIManager.cpp
Labels: bug, system, level
